<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apni Dukkan</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <span>Apni Dukkan</span>
        <a th:href="@{/dukkan}">Home</a>
        <a href="#">Orders</a>
        <a href="#">Login</a>
    </nav>

    <section class="products">
        <div class="category">
            <h2>Atta</h2>
            <div class="product-grid">
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <p>Ashirwad Atta</p>
                    <span>5kg</span>
                    <span>Price: Rs 120</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <p>Ashirwad Atta</p>
                    <span>10kg</span>
                    <span>Price: Rs 220</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <p>Fortune Atta</p>
                    <span>5kg</span>
                    <span>Price: Rs 100</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <p>Fortune Atta</p>
                    <span>10kg</span>
                    <span>Price: Rs 190</span>
                    <button class="btn">Add</button>
                </div>
            </div>
        </div>

        <div class="category">
            <h2>Rice</h2>
            <div class="product-grid">
                <div class="product">
                    <img src="images/AttaRice.png" alt="Rice">
                    <p>Sambha Mansuri</p>
                    <span>1kg</span>
                    <span>Price: Rs 40</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Rice">
                    <p>Basmati Rice</p>
                    <span>1kg</span>
                    <span>Price: Rs 70</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Rice">
                    <p>Biryani Rice</p>
                    <span>1kg</span>
                    <span>Price: Rs 80</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Rice">
                    <p>Double Kabootar</p>
                    <span>1kg</span>
                    <span>Price: Rs 100</span>
                    <button class="btn">Add</button>
                </div>
            </div>
        </div>
        
        
        <div class="category">
            <h2>Daal</h2>
            <div class="product-grid">
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Aarhar Daal</p>
                    <span>1kg</span>
                    <span>Price: Rs 180</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Urad Daal</p>
                    <span>1kg</span>
                    <span>Price: Rs 130</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Moong Daal</p>
                    <span>1kg</span>
                    <span>Price: Rs 130</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Laal Masoor</p>
                    <span>1kg</span>
                    <span>Price: Rs 100</span>
                    <button class="btn">Add</button>
                </div>
                
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Kaali Masoor</p>
                    <span>1kg</span>
                    <span>Price: Rs 100</span>
                    <button class="btn">Add</button>
                </div>
            </div>
        </div>
        
         <div class="category">
            <h2>Cholle & Maatar</h2>
            <div class="product-grid">
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Cholle</p>
                    <span>1kg</span>
                    <span>Price: Rs 180</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Matar</p>
                    <span>1kg</span>
                    <span>Price: Rs 130</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Chana</p>
                    <span>1kg</span>
                    <span>Price: Rs 130</span>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Daal">
                    <p>Laal Rajama</p>
                    <span>1kg</span>
                    <span>Price: Rs 100</span>
                    <button class="btn">Add</button>
                </div>
            </div>
        </div>
        
        

        <!-- Add similar divs for other categories like Daal, Chana, etc. -->
    </section>

    <footer>
        <span>Copyright &copy; 2024 Apni Dukkan</span>
    </footer>
</body>

</html>
