<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apni Dukkan</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <span>Apni Dukkan</span> 
		<a th:href="@{/dukkan}">Home</a> 
		<a th:href="@{/orders}">Orders</a>
		<a th:href="@{/cart}">Cart</a>
		<a th:href="@{/login}">Login</a>
		<a th:href="@{/logout}">Logout</a>
    </nav>

    <section class="products" th:object=${cart}>
        <div class="category">
            <h2>Atta</h2>
            <div class="product-grid">
                <div class="product">
                    <form th:action="@{/orders}"  method="post">
                    	<img src="images/AttaRice.png" alt="Atta">
                    	<p class="orderName">Ashirwad Atta</p>
                    	<span>5kg</span>
                    	<span class="price">Price: Rs 120</span>
                    	<input type="hidden" name="ordername" value="Ashirwad Atta">
    					<input type="hidden" name="price" value="120">
                    	<button class="btn">Add</button>
                    </form>
                </div>
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
                    	<img src="images/AttaRice.png" alt="Atta">
                    	<p class="orderName">Ashirwad Atta</p>
                    	<span>10kg</span>
                    	<span class="price">Price: Rs 220</span>
                    	<input type="hidden" name="ordername" value="Ashirwad Atta">
    					<input type="hidden" name="price" value="220">
    				</form>
                    <button class="btn">Add</button>
                </div>
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
                    	<img src="images/AttaRice.png" alt="Atta">
	                    <p class="orderName">Fortune Atta</p>
	                    <span>5kg</span>
	                    <span class="price">Price: Rs 100</span>
	                    <input type="hidden" name="ordername" value="Fortune Atta">
    					<input type="hidden" name="price" value="100">
                    	<button class="btn">Add</button>
                    </form>
                </div>
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <form th:Action="@{/orders}" method="post">
	                    <p class="orderName">Fortune Atta</p>
	                    <span>10kg</span>
	                    <span class="price">Price: Rs 190</span>
	                    <input type="hidden" name="ordername" value="Fortune Atta">
	    				<input type="hidden" name="price" value="190">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <form th:Action="@{/orders}" method="post">
	                    <p class="orderName">Fortune Atta</p>
	                    <span>10kg</span>
	                    <span class="price">Price: Rs 190</span>
	                    <input type="hidden" name="ordername" value="Fortune Atta">
	    				<input type="hidden" name="price" value="190">
	                    <button class="btn">Add</button>
	                </form>
                </div>
            </div>
        </div>

        <div class="category">
            <h2>Rice</h2>
            <div class="product-grid">
                <div class="product">
                	<form th:action="@{/orders}"  method="post">
                		<img src="images/AttaRice.png" alt="Rice">
                		<p>Sambha Mansuri</p>
                    	<span>1kg</span>
                    	<span>Price: Rs 70</span>
	                    <input type="hidden" name="ordername" value="Sambha Mansuri">
    					<input type="hidden" name="price" value="70">
	                    <button class="btn">Add</button>
                    </form>
                </div>
                
                <div class="product">
                    <form th:action="@{/orders}"  method="post">
                		<img src="images/AttaRice.png" alt="Rice">
                		<p>Basmati Rice</p>
                    	<span>1kg</span>
                    	<span>Price: Rs 90</span>
	                    <input type="hidden" name="ordername" value="Basmati Rice">
    					<input type="hidden" name="price" value="90">
	                    <button class="btn">Add</button>
                    </form>
                </div>
                <div class="product">
                    <form th:action="@{/orders}"  method="post">
                		<img src="images/AttaRice.png" alt="Rice">
                		<p>Biryani Rice</p>
                    	<span>1kg</span>
                    	<span>Price: Rs 120</span>
	                    <input type="hidden" name="ordername" value="Basmati Rice">
    					<input type="hidden" name="price" value="90">
	                    <button class="btn">Add</button>
                    </form>
                </div>
                <div class="product">
                    <form th:action="@{/orders}"  method="post">
                		<img src="images/AttaRice.png" alt="Rice">
                		<p>Kabootar Rice</p>
                    	<span>1kg</span>
                    	<span>Price: Rs 110</span>
	                    <input type="hidden" name="ordername" value="Kabootar Rice">
    					<input type="hidden" name="price" value="110">
	                    <button class="btn">Add</button>
                    </form>
                </div>
                
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <form th:Action="@{/orders}" method="post">
	                    <p class="orderName">Fortune Atta</p>
	                    <span>10kg</span>
	                    <span class="price">Price: Rs 190</span>
	                    <input type="hidden" name="ordername" value="Fortune Atta">
	    				<input type="hidden" name="price" value="190">
	                    <button class="btn">Add</button>
	                </form>
                </div>
            </div>
        </div>
        
        
        <div class="category">
            <h2>Daal</h2>
            <div class="product-grid">
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Aarhar Daal</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 180</span>
	                    <input type="hidden" name="ordername" value="Aarhar Daal">
    					<input type="hidden" name="price" value="180">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                <div class="product">
                	<form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Urad Daal</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 130</span>
	                    <input type="hidden" name="ordername" value="Urad Daal">
    					<input type="hidden" name="price" value="130">
	                    <button class="btn">Add</button>
	                </form>
                </div>
        
                <div class="product">
                	<form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Laal Masoor</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 100</span>
	                    <input type="hidden" name="ordername" value="Laal Masoor">
    					<input type="hidden" name="price" value="100">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                
                <div class="product">
                	<form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Kaali Masoor</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 100</span>
	                    <input type="hidden" name="ordername" value="Kaali Masoor">
    					<input type="hidden" name="price" value="100">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <form th:Action="@{/orders}" method="post">
	                    <p class="orderName">Fortune Atta</p>
	                    <span>10kg</span>
	                    <span class="price">Price: Rs 190</span>
	                    <input type="hidden" name="ordername" value="Fortune Atta">
	    				<input type="hidden" name="price" value="190">
	                    <button class="btn">Add</button>
	                </form>
                </div>
            </div>
        </div>
        
         <div class="category">
            <h2>Cholle & Maatar</h2>
            <div class="product-grid">
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Cholle</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 180</span>
	                    <input type="hidden" name="ordername" value="Cholle">
    					<input type="hidden" name="price" value="180">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Matar</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 130</span>
	                    <input type="hidden" name="ordername" value="Matar">
    					<input type="hidden" name="price" value="130">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Chana</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 130</span>
	                    <input type="hidden" name="ordername" value="Chana">
    					<input type="hidden" name="price" value="130">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                <div class="product">
                    <form th:Action="@{/orders}" method="post">
	                    <img src="images/AttaRice.png" alt="Daal">
	                    <p>Laal Rajama</p>
	                    <span>1kg</span>
	                    <span>Price: Rs 100</span>
	                    <input type="hidden" name="ordername" value="Laal Rajama">
    					<input type="hidden" name="price" value="100">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                
                <div class="product">
                    <img src="images/AttaRice.png" alt="Atta">
                    <form th:Action="@{/orders}" method="post">
	                    <p class="orderName">Fortune Atta</p>
	                    <span>10kg</span>
	                    <span class="price">Price: Rs 190</span>
	                    <input type="hidden" name="ordername" value="Fortune Atta">
	    				<input type="hidden" name="price" value="190">
	                    <button class="btn">Add</button>
	                </form>
                </div>
                
            </div>
        </div>
    </section>

    <footer>
        <span>Copyright &copy; 2024 Apni Dukkan</span>
    </footer>
</body>

</html>
