<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apni Dukkan</title>
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/variable.css">
</head>

<body>
    	<nav>
    <div class="nav-container">
            <div class="logo">Apni Dukkan</div>
            <ul class="nav-links">
                <li><a th:href="@{/home}" aria-label="Home">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn" aria-label="Categories">Categories</a>
                    <div class="dropdown-content">
                        <a th:href="@{/category1}" aria-label="Bread and Milk">Bread & Milk</a>
                        <a th:href="@{/category2}" aria-label="Atta, Rice, and Daal">Atta, Rice & Daal</a>
                        <a th:href="@{/category3}" aria-label="Oil and Masala">Oil & Masala</a>
                        <a th:href="@{/category4}" aria-label="Snacks and Munchies">Snacks & Munchies</a>
                    </div>
                </li>
                <li><a th:href="@{/cart}" aria-label="Cart">Cart</a></li>
                <li><a th:href="@{/orders}" aria-label="Orders">Orders</a></li>
                <li><a th:href="@{/logout}" aria-label="Logout" onclick="return confirm('Are you sure you want to logout?');">Logout</a></li>
            </ul>
            </div>
</nav>


    <section class="products" th:object="${cart}">
        <div class="category">
            <h2>Bread</h2>
            <div class="product-grid">
                <div class="product">
                    <form th:action="@{/category1}" method="post" th:object="${cart}">
                        <img src="https://img1.exportersindia.com/product_images/bc-full/2021/9/998542/whole-wheat-bread-1632913176-6016201.jpeg" alt="Bread">
                        <p class="orderName">Bread</p>
                        <span>Small</span>
                        <span class="price">Price: Rs 10</span>
                        <input type="hidden" name="ordername" value="Bread">
                        <input type="hidden" name="quantity" value="Small">
                        <input type="hidden" name="price" value="10">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <input type="hidden" name="orderId" value="1">
                        <input type="hidden" name="image" value="https://img1.exportersindia.com/product_images/bc-full/2021/9/998542/whole-wheat-bread-1632913176-6016201.jpeg">
                        <button class="btn">Add</button>
                    </form>
                </div>

                <div class="product">
                    <form th:action="@{/category1}" method="post">
                        <img src="https://img1.exportersindia.com/product_images/bc-full/2021/9/998542/whole-wheat-bread-1632913176-6016201.jpeg" alt="Bread">
                        <p class="orderName">Bread</p>
                        <span>Medium</span>
                        <span class="price">Price: Rs 20</span>
                        <input type="hidden" name="ordername" value="Bread">
                        <input type="hidden" name="quantity" value="Medium">
                        <input type="hidden" name="image" value="https://img1.exportersindia.com/product_images/bc-full/2021/9/998542/whole-wheat-bread-1632913176-6016201.jpeg">
                        <input type="hidden" name="price" value="20">
                        <input type="hidden" name="orderId" value="2">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <button class="btn">Add</button>
                    </form>
                </div>

                <div class="product">
                    <form th:action="@{/category1}" method="post">
                        <img src="https://img1.exportersindia.com/product_images/bc-full/2021/9/998542/whole-wheat-bread-1632913176-6016201.jpeg" alt="Bread">
                        <p class="orderName">Bread</p>
                        <span>Large</span>
                        <span class="price">Price: Rs 30</span>
                        <input type="hidden" name="ordername" value="Bread">
                        <input type="hidden" name="quantity" value="Large">
                        <input type="hidden" name="image" value="https://img1.exportersindia.com/product_images/bc-full/2021/9/998542/whole-wheat-bread-1632913176-6016201.jpeg">
                        <input type="hidden" name="price" value="30">
                        <input type="hidden" name="orderId" value="3">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <button class="btn">Add</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="category">
            <h2>Milk</h2>
            <div class="product-grid">
                <div class="product">
                    <form th:action="@{/category1}" method="post">
                        <img src="https://m.media-amazon.com/images/I/812816L+HkL._SL1500_.jpg" alt="Milk">
                        <p>Amul Milk</p>
                        <span>500g</span>
                        <span>Price: Rs 30</span>
                        <input type="hidden" name="ordername" value="Amul Milk">
                        <input type="hidden" name="quantity" value="500g">
                        <input type="hidden" name="image" value="https://m.media-amazon.com/images/I/812816L+HkL._SL1500_.jpg">
                        <input type="hidden" name="price" value="30">
                        <input type="hidden" name="orderId" value="4">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <button class="btn">Add</button>
                    </form>
                </div>

                <div class="product">
                    <form th:action="@{/category1}" method="post">
                        <img src="https://m.media-amazon.com/images/I/812816L+HkL._SL1500_.jpg" alt="Milk">
                        <p>Amul Milk</p>
                        <span>1kg</span>
                        <span>Price: Rs 50</span>
                        <input type="hidden" name="ordername" value="Amul Milk">
                        <input type="hidden" name="quantity" value="1kg">
                        <input type="hidden" name="image" value="https://m.media-amazon.com/images/I/812816L+HkL._SL1500_.jpg">
                        <input type="hidden" name="price" value="50">
                        <input type="hidden" name="orderId" value="5">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <button class="btn">Add</button>
                    </form>
                </div>

                <div class="product">
                    <form th:action="@{/category1}" method="post">
                        <img src="https://5.imimg.com/data5/ANDROID/Default/2021/12/RC/HH/SQ/100399672/product-jpeg-500x500.jpg" alt="Milk">
                        <p>Mother Dairy Milk</p>
                        <span>500g</span>
                        <span>Price: Rs 33</span>
                        <input type="hidden" name="ordername" value="Mother Dairy Milk">
                        <input type="hidden" name="price" value="33">
                        <input type="hidden" name="quantity" value="500g">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <input type="hidden" name="orderId" value="6">
                        <input type="hidden" name="image" value="https://5.imimg.com/data5/ANDROID/Default/2021/12/RC/HH/SQ/100399672/product-jpeg-500x500.jpg">
                        <button class="btn">Add</button>
                    </form>
                </div>

                <div class="product">
                    <form th:action="@{/category1}" method="post">
                        <img src="https://5.imimg.com/data5/ANDROID/Default/2021/12/RC/HH/SQ/100399672/product-jpeg-500x500.jpg" alt="Milk">
                        <p>Mother Dairy Milk</p>
                        <span>1kg</span>
                        <span>Price: Rs 56</span>
                        <input type="hidden" name="ordername" value="Mother Dairy Milk">
                        <input type="hidden" name="price" value="56">
                        <input type="hidden" name="quantity" value="1kg">
                        <input type="hidden" name="userId" th:field="*{userId}">
                        <input type="hidden" name="orderId" value="7">
                        <input type="hidden" name="image" value="https://5.imimg.com/data5/ANDROID/Default/2021/12/RC/HH/SQ/100399672/product-jpeg-500x500.jpg">
                        <button class="btn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <span>Copyright &copy; 2024 Apni Dukkan</span>
    </footer>
</body>

</html>
