<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/css/login.css}" rel="stylesheet"></link>
</head>
<body>
	<form th:action="@{/forget-password}" th:method="post" th:object="${formEmail}">
		<span>Enter Email Id</span>
		<input type="text" class="email" placeholder="email" th:field="*{email}" required>
		<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
		<div th:if="${message}" th:text="${message}" style="color: red;"></div>
		<button type="submit">Send-OTP</button>
	</form>
</body>
</html>