<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/css/login.css}" rel="stylesheet"></link>
</head>
<body>
	<form th:action="@{/login}" th:object="${login}" method="post">
		<span>Login</span>
		<input type="text" class="email" placeholder="email" th:field="*{email}" required>
		<input type="password" class="password" placeholder="password" th:field="*{password}" required>
		<div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>
		<div th:if="${message}" th:text="${message}" style="color:green;"></div>
		<button type="submit">Login</button>
		<a th:href="@{/forget-password}">Forget Password</a>
		<a th:href="@{/register}">New User? Register</a>
	</form>
</body>
</html>