<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="/css/login.css" rel="stylesheet"></link>
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/set-password}" th:method="post" th:object="${password}">
		<span>New Password</span>
		<input type="text" name="newPassword" class="email" required placeholder="New Password" th:field="*{newPassword}"></input>
		<div th:if="${message}" th:text="${message}" style="color: green;"></div>
		<button type="submit">Change Password</button>
	</form>
</body>
</html>